.ProjectTitleParent {
    width: 100%;
    /* background-color: blue; */
    justify-content: center;
    display: flex;
}

.ProjectTitleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    /* background-color: red; */
}

.ProjectTitle {
    font-family: 'Sora-Regular';
    font-weight: 600;
    color: #FFFFFF;
    font-size: 55px;
    margin-top: 40px;
}

.ProjectTitleDetails {
    font-family: 'Sora-Light';
    font-weight: 600;
    color: #969696;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.CenterContainer {
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: auto;
}

.ProjectTextContainer {
    display: flex;
    flex-direction: column;
    width: 1150px;
}

.ProjectSectionText {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 20px;
}

.PreviewVideo {
    width: 1150px;
    height: 700px;
}

.ProjectDetailsBackground {
    background-color: #161d27;
    box-shadow: 2px 10px 10px rgb(0,0,0);
    width: 50%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.OverviewTextContainer {
    width: 50%;
}

.ProjectContentHeader {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: #989898;
    background-image: url('../Resources/LineMaskHorizontalColor.png');
    background-blend-mode:multiply;
    background-repeat: repeat;
    background-size: 64px 6px;
}

.ProjectSectionHeaderContainer {
    /* background-color: red;
    width: 1150px */
}

.ProjectSectionHeader {
    font-family: 'Sora-Regular';
    font-weight: 600;
    color: #FFFFFF;
    font-size: 32px;
}

.ProjectDetailsTextContainer {
    /* background-color: red; */
    width: auto;
    height: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ProjectDetailsTextParent {
    display: flex;
}

.ProjectDetailsTextLabel {
    font-family: 'Inter-Bold';
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}

.ProjectDetailsText {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 20px;
}

.ToolsUsedBox {
    width: 100%;
    height: auto;
    /* background-color: red; */
    margin-top: 20px;
    border-radius: 20px;
}

.ToolsUsedHeader {
    background-color: #10161d;
    box-shadow: 2px 10px 10px rgb(0,0,0);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.ToolsUsedHeaderText {
    font-family: 'Inter-Bold';
    font-weight: 300;
    color: #ffffff;
    font-size: 20px;
    margin-right: 10px;
}

.ToolsUsedContiner {
    /* background-color: red; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}

.ToolsUsedList {
    margin-top: 30px;
    /* background-color: red; */
    width: 50%;
}

.ToolsUsedListItem {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 20px;
}

.HighlightsBox {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.HighlightsContainer {
    width: 1150px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    height: auto;
}

.HighlightsListItem {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 20px;
    margin-bottom: 10px;
}