@font-face {
    font-family: 'Sora-Light';
    src: url('../Resources/Fonts/Sora-Light.ttf') format('woff2'), url('../Resources/Fonts/Sora-Light.ttf') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sora-Regular';
    src: url('../Resources/Fonts/Sora-Regular.ttf') format('woff2'), url('../Resources/Fonts/Sora-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../Resources/Fonts/Inter_18pt-Light.ttf') format('woff2'), url('../Resources/Fonts/Inter_18pt-Light.ttf') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('../Resources/Fonts/Inter_18pt-Regular.ttf') format('woff2'), url('../Resources/Fonts/Inter_18pt-Regular.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
}

.NavigationBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    min-height: 60px;
    background-color: rgba(17,23,31,0.7);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 9999;
    background-image: url('../Resources/LineMaskHorizontalColor.png');
    background-blend-mode:unset;
    background-repeat: repeat;
    background-size: 64px 6px;
}

.CenterGroup {
    display: flex;
    align-items: center;
}

.LeftLinkGroup,
.RightLinkGroup {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon-video {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100px;
    display: block;
    margin: 0 25px;
}

.NavLinkBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;   
    padding: 0;   
    gap: 12px;    
}

.nav-links li a {
    font-family: 'Sora-Light';
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 8px;            
    transition: color 0.2s ease;
    display: inline-block;
}

.VideoGroup {
    position: relative;
    width: 100%;
    height: 500px;         /* or whatever height you want */
    overflow: hidden;      /* crop any overflow */
    background: #000;      /* fallback for uncovered areas */
}

.FrontPageVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;      /* fills container like background */
    transform: translate(-50%, -50%);
    pointer-events: none;   /* disables click / pause / fullscreen */
}


.nav-links li a:hover {
    color: #00E6FF;
}

.OverlayParent {
    position: absolute;
    /* top: 50%;    */   
    /* left: 50%;       */
    /* transform: translate(-50%, -50%);  */
    transform: translate(0%, -100%); 
    z-index: 5;    
    /* pointer-events: none; */
    display: flex;

    align-items: flex-end;
}

.WallHugBackground {
    background-color: #0B0F14;
    width: 50%;
}

.OverlayImageContainerBackground {
    width: 320px;
    height: 320px;
    border-top-right-radius: 50px;
    /* border: 10px solid #0B0F14; */
    background-color: #0B0F14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OverlayImageContainer {

}

.OverlayImageContainer img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-top-right-radius: 20px;
    display: block; 
    /* border: 10px solid #0B0F14; */
}

.NameAndTitleParent {
    display: flex;
}

.NameLogo {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 15px;
    /* background-image: url('../Resources/sBrunesWebsiteLogoDiceLowRes.png'); */
}

.TaglineBox {
    background-color: #131921;
    height: 250px;
    width: 500px;
    border-top-right-radius: 20px;
}

.Name {
    font-family: 'Sora-Regular';
    font-weight: 600;
    color: #FFFFFF;
    font-size: 55px;
    margin-left: 15px;
    margin-top: 15px;
}

.JobTitle {
    font-family: 'Sora-Regular';
    font-weight: 400;
    color: #A9B2C1;
    font-size: 25px;
    margin-left: 15px;
}

.SelfDescription {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 18px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 15px;
}

.SocialMediaIconBox {
    /* background-color: #00E6FF; */
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
}

.SocialMediaIconBoxFooter {
    /* background-color: #00E6FF; */
    width: 100%;
    height: 40px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.SocialMediaIcon {
    /* background-color: red; */
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;  
}

.SocialMediaIcon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.FrontPageContent {
    /* background-color: brown; */
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.FrontPageContentHeader {
    /* background-color: brown; */
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #989898;
    background-image: url('../Resources/LineMaskHorizontalColor.png');
    background-blend-mode:multiply;
    background-repeat: repeat;
    background-size: 64px 6px;
}

.SectionHeader {
    font-family: 'Sora-Regular';
    font-weight: 600;
    color: #FFFFFF;
    font-size: 32px;
}

.FeaturedWorkSection {
    position: relative;         
    width: 700px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;             
    box-shadow: 2px 10px 10px rgb(0,0,0);
    cursor: pointer;  
    margin-top: 20px;
    transition: box-shadow 0.15s ease, background-color 0.15s ease;
}

/* Pseudo-element for background image */
.FeaturedWorkSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Resources/Michelle Evans Art-Jillian and Sam-Memphis-Photographer-Fall-2024-0105.jpg');
    background-size: cover;
    background-position: center;            
    transition: transform 0.5s ease;
}

/* Hover effect: scale background slightly + highlight */
.FeaturedWorkSection:hover::before {
    transform: scale(1.05);       /* slightly zoom in background */
}

.FeaturedWorkSection:hover {
    box-shadow: 0 8px 20px #ffffff4d; /* subtle highlight */
}

.FrontPageContentHeaderDual {
    /* background-color: brown; */
    width: 100%;
    height: auto;
    gap: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #989898;
    background-image: url('../Resources/LineMaskHorizontalColor.png');
    background-blend-mode:multiply;
    background-repeat: repeat;
    background-size: 64px 6px;
}

.DualContentHeader {
    width: 550px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.DualFrontPageContent {
    width: 100%;
    height: auto;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    gap: 50px;
}

.ProjectsSection {
    margin-top: 10px;
    /* background-color: red; */
    width: 550px;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ProjoectPreview {
    position: relative; 
    /* background-color: #00E6FF; */
    width: 500px;
    height: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;             
    box-shadow: 2px 10px 10px rgb(0,0,0);
    transition: box-shadow 0.15s ease;
    cursor: pointer;
}

.ProjectThumbnail {
    /* background-color: red; */
    position: relative; 
    width: 100%;
    height: 150px;
    margin-bottom: 0px;
    border-radius: 10px;
    overflow: hidden;
}

.ProjectThumbnail::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--thumb);
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
}

.ProjoectPreview:hover .ProjectThumbnail::before {
    transform: scale(1.05);
}

/* Highlight whole card on hover */
.ProjoectPreview:hover {
    box-shadow: 0 8px 20px #ffffff4d;
}

.ProjectDescription {
    /* background-color: red; */
    width: 500px;
    height: auto;
    margin: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.ProjectName {
    font-family: 'Sora-Regular';
    font-weight: 600;
    color: #FFFFFF;
    font-size: 25px;
}

.ProjectRole {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 20px;
}

.ProjectTagline {
    font-family: 'Inter-Light';
    font-weight: 300;
    color: #AEB6C1;
    font-size: 15px;
}

.Footer {
    width: 100%;
    height: 150px;
    gap: 50px;
    background-color: #989898;
    background-image: url('../Resources/LineMaskHorizontalColor.png');
    background-blend-mode:multiply;
    background-repeat: repeat;
    background-size: 64px 6px;
    display: flex;
    flex-direction: column;
}